*{
    padding:0;
    margin:0;
}

#volta{
    margin:250px;
}
#game{
    
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: #C0C0C0;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
    border:1px solid black
}
.block{
    width: 400px;
    height: 20px;
    background-color:  #b88645;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}